@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, serif;
    
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav, 
footer {
    background-color: #1f2937;
    align-items: center;
    padding: 26px;
}

a,
footer {
    color: #e5e7eb;;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
}

ul {
    list-style: none; 
}

.options {
    display: flex; 
    gap: 32px;
}

main {
    flex: auto;
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
}







